@charset "utf-8";

/* 공통 css */
html {font-size: 10px}
body {font-size: 1.6rem}
.ctain {position: relative;width: 1260px;margin: 0 auto;}
.white{color: #fff}
.btn_wrap {}
.btn_wrap > *{display: inline-block;}
.section{margin: 6.0rem 0}
.section_pd{padding: 6.0rem 0}
.section02{margin: 3.0rem 0}
button{font-family: 'Noto Sans KR'}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.gfontM{font-family: 'GmarketSansMedium';}

/*-----------프로토타입 공통 영역 start----------*/
/* 프로토타입 상단 */
.prototype #tn_main_banner{background-position: center;background-size: cover;background-repeat: no-repeat;padding: 70px 0;background: #fff}
.prototype #tn_main_banner .txt_area{display: flex;justify-content:space-between}
.prototype #tn_main_banner .company_cont ul {display: flex;}
.prototype #tn_main_banner .company_cont ul li{display: flex;align-items: center;margin-right: 55px}
.prototype #tn_main_banner .company_cont ul li:last-child{margin-right: 0}
.prototype #tn_main_banner .company_cont ul li span{font-size: 1.6rem;margin-right: 10px;}	
.prototype #tn_main_banner .company_cont ul li strong{font-size: 2.0rem}
.prototype #tn_main_banner .company_cont .btn_wrap {margin-top: 3.5rem;}
.prototype #tn_main_banner .company_cont .btn_wrap a:last-child{margin-right: 0}
.prototype #tn_main_banner .company_ico {margin-top: -70px;}
.prototype #tn_main_banner .company_ico > div{border-radius: 0 0px 10px 10px;padding: 30px 10px;text-align: center;}
.prototype #tn_main_banner .company_ico em{background: url(../images/ci_ico.png);width: 40px;height: 40px;display: inline-block}
.prototype #tn_main_banner .company_ico p{text-align: center;font-size: 1.4rem;margin-top: 5px}
.prototype .tit01{font-size: 3.2rem;margin-bottom: 4.0rem}
.prototype .tit02{font-size: 2.4rem;}
.prototype .btn{display: inline-block;}

.prototype  .header_wrap{ transition: top 1s linear;}

/* 프로토타입 상단 플로팅 메뉴 */
.prototype .float_menu{transition: all ease-in-out 0.5s;position: relative}
.prototype .float_menu.fixed{position: fixed;top: 0;left: 0;width: 100%;z-index: 555;} 
.prototype .float_menu ul{display: flex;}
.prototype .float_menu ul li{font-size: 1.8rem;;}
.prototype .float_menu ul li a{display: block;}


/*------------ 프로토타입 상단 타입별 스타일--------- */

/* 상단 header_wrap 스타일01 */
.prototype .header_wrap.style01 .company_cont{color: #fff}
.prototype .header_wrap.style01 .company_ico > div{background: #437cff;color: #fff;}
.prototype .header_wrap.style01  #tn_main_banner .company_cont .btn_wrap a{position: relative;border: 1px solid #fff;font-size:1.6rem;padding: 7px 15px;border-radius: 20px;width: 200px;position: relative;position: relative;margin-right: 1.5rem} 
.prototype .header_wrap.style01  #tn_main_banner .company_cont .btn_wrap a span{position: absolute;right: 15px;top: 50%;transform: translateY(-50%)}
.prototype .header_wrap.style01  #tn_main_banner .company_cont .btn_wrap .like_btn:after{} 

/* 상단 header_wrap 스타일02 */
.prototype .header_wrap.style02 .company_ico > div{background: #92b122;color: #fff;}
.prototype .header_wrap.style02  #tn_main_banner .company_cont .btn_wrap .like_btn{color: #da0011}
.prototype .header_wrap.style02  #tn_main_banner .company_cont .btn_wrap .go_btn{color: #3b4a6c;}
.prototype .header_wrap.style02  #tn_main_banner .company_cont .btn_wrap a{display: inline-block;margin-right: 3.0rem}
.prototype .header_wrap.style02  #tn_main_banner .company_cont .btn_wrap a span {display: inline-block;width: 32px;height: 32px;border-radius: 50%;text-align: center;line-height: 32px;margin-left: 20px}
.prototype .header_wrap.style02  #tn_main_banner .company_cont .btn_wrap .like_btn span{border: 1px solid #da0011}
.prototype .header_wrap.style02  #tn_main_banner .company_cont .btn_wrap .go_btn span{border: 1px solid #3b4a6c}
.prototype .header_wrap.style02 #tn_main_banner .company_cont ul li span {color: #7e7e7e}


/*--------- 상단 플로팅 메뉴 타입별 스타일--------- */

/* 상단 플로팅 메뉴 스타일01 */
.prototype .float_menu.style01{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;}
.prototype .float_menu.style01 ul li{padding: 20px 10px;margin-right: 30px;color: #919191}
.prototype .float_menu.style01 ul li.active{position: relative;color: #000;font-weight: 500}
.prototype .float_menu.style01 ul li.active:after{content: '';display: block;height: 3px;width: 100%;background: #437cff;position: absolute;left: 0;bottom: -1.5px;}
.prototype .float_menu.style01 ul li.active:before{content: '';display: block;width: 10px;height: 10px;background: #ff1c31;border-radius: 50%;position: absolute;right: 0;top: 10px;}
.prototype .float_menu.style01 ul li:hover,
.prototype .float_menu.style01 ul li:active,
.prototype .float_menu.style01 ul li:focus {position: relative;color: #000;font-weight: 500;transition: all 0.3s}
.prototype .float_menu.style01 ul li:hover:after,
.prototype .float_menu.style01 ul li:active:after,
.prototype .float_menu.style01 ul li:focus:after{content: '';display: block;height: 3px;width: 100%;background: #437cff;position: absolute;left: 0;bottom: -1.5px;transition: all 0.3s}
.prototype .float_menu.style01 ul li:hover:before,
.prototype .float_menu.style01 ul li:active:before,
.prototype .float_menu.style01 ul li:focus:before{content: '';display: block;width: 10px;height: 10px;background: #ff1c31;border-radius: 50%;position: absolute;right: 0;top: 10px;transition: all 0.3s}

/* 상단 플로팅 메뉴 스타일02 */
.prototype .float_menu.style02 {background: #011541;}
.prototype .float_menu.style02 ul {display: flex}
.prototype .float_menu.style02 ul li {}
.prototype .float_menu.style02 ul li:first-child{border-left: 1px solid rgba(255, 255, 255, 0.33)}
.prototype .float_menu.style02 ul li a{color:#fff;font-size: 1.4rem;display: block;width: 100%;height: 100%;padding: 2.0rem 3.0rem;border-right: 1px solid rgba(255, 255, 255, 0.33)}
.prototype .float_menu.style02 ul li.active{background: #da0011;}
.prototype .float_menu.style02 ul li:hover,
.prototype .float_menu.style02 ul li:active,
.prototype .float_menu.style02 ul li:focus {background: #da0011;transition: all 0.3s}


/*-----------프로토타입 공통 영역 end----------*/


/*---------- 프로토타입 : 1_채용공고형 start---------------*/
.prototype.type01{}
.prototype.type01 .highlight{display: inline;box-shadow: 0 -15px 0 0 inset #fbff95;color: #000;padding: 0 5px}
.prototype.type01 .highlight02{display: inline;box-shadow: 0 -15px 0 0 inset #fff8ad;color: #000;padding: 0 5px}
.prototype.type01 .red{color: #ff1c31}
.prototype.type01 .pink {color: #fc4c7b}
.prototype.type01 .blue {color: #0e56b7}
.prototype.type01 .white_box {background: #fff;padding:5.0rem}
.prototype.type01 .white_box_sdw {background: #fff;padding: 5.0rem;border: 1px solid #ddd;position: relative;box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.08)}
.prototype.type01 .big_btn{font-size: 2.0rem;background: transparent;padding: 15px;width: 375px;border-radius: 5px;}
.prototype.type01 .white_btn{border: 1px solid #fff;color: #fff}
.prototype.type01 .blue_btn{background: #437cff;color: #fff}
.prototype.type01 .header_wrap .txt_area{color: #fff;}
.prototype.type01 .qm_btn{position: relative}
.prototype.type01 .qm_btn a{display: block;width: 45px;height: 45px;background: url(../images/jp_md02_qm.png) no-repeat center #ff1c31;border-radius: 50%;position: absolute;right: -22.5px;top: -22.5px;text-indent: -9999px}
.prototype.type01 .qm_btn span{background: #fff;font-size: 1.4rem;color: #777;display: block;position: absolute;width: 230px;word-break: keep-all;padding: 10px;right: -260px;top: -30px;border-radius: 10px;display: none}
.prototype.type01 .qm_btn span:before{content: '';position: absolute;border-style: solid;
border-width: 7px 10px 7px 0;border-color: transparent #FFFFFF;display: block;width: 0;z-index: 1;left: -10px;top: 10px;}


/*채용공고형 모듈 01 */
.prototype.type01 .module01{}
.prototype.type01 .module01 .gj_logo{display: block;margin: auto;}
.prototype.type01 .module01 .intro_set{display: flex;justify-content: center;}
.prototype.type01 .module01 .intro_set li{text-align: center;margin-right: 80px;}
.prototype.type01 .module01 .intro_set li:last-child{margin-right: 0}
.prototype.type01 .module01 .intro_set em{display: block;width: 140px;height: 140px;background-color: #f8f8f8;background-position: center;background-repeat: no-repeat;border-radius:  50%;margin: auto;}
.prototype.type01 .module01 .intro_set .tit{font-size: 2.0rem;margin-top: 1.0rem;}
.prototype.type01 .module01 .intro_set strong{font-size: 3.0rem;}
.prototype.type01 .module01 .intro_set .text{color: #727272;font-size: 1.7rem;margin-top: 5px}

.prototype.type01 .module01 .intro_set em.ico01{background-image: url(../images/jp_md01_ico01.png)}
.prototype.type01 .module01 .intro_set em.ico02{background-image: url(../images/jp_md01_ico02.png)}
.prototype.type01 .module01 .intro_set em.ico03{background-image: url(../images/jp_md01_ico03.png)}
.prototype.type01 .module01 .intro_set em.ico04{background-image: url(../images/jp_md01_ico04.png)}

.prototype.type01 .module01 .intro_text{display: flex;justify-content: center;margin-top: 8.0rem}
.prototype.type01 .module01 .intro_text li{margin-right: 100px;text-align: center;}
.prototype.type01 .module01 .intro_text li:last-child{margin-right: 0;}
.prototype.type01 .module01 .intro_text li .text{font-size: 1.7rem;color: #727272;}
.prototype.type01 .module01 .intro_text li .tit{font-size: 3.0rem;font-weight: bold;margin-top: 5px;}

/*채용공고형 모듈 02 공고보기*/
.prototype.type01 {}
.prototype.type01  .jobop_list{}
.prototype.type01  .jobop_list table{width: 100%;table-layout:fixed;border-collapse: collapse;border: 1px solid #ddd}
.prototype.type01  .jobop_list thead {border-top: 1px solid #ddd;}
.prototype.type01  .jobop_list thead th {background: #f0f0f0;font-size: 2.2rem;padding: 2.5rem;}
.prototype.type01  .jobop_list tr{border-bottom: 1px solid #ddd}
.prototype.type01  .jobop_list td{padding: 2.0rem;font-size: 1.8rem;text-align: center;color: #696969}
.prototype.type01  .jobop_list .btn{padding: 10px 20px;font-size: 1.6rem;color: #fff;background: #ff1c31;border-radius: 10px;margin-left: 1.5rem;}
.prototype.type01  .jobop_view_wrap{background: url(../images/jp_md02_bg.png) no-repeat bottom;padding-bottom: 6.0rem}
.prototype.type01  .jobop_view {background: #fff;border: 3px solid #437cff;padding: 6.0rem;}
.prototype.type01  .jobop_view_top{display: flex;font-size: 2.4rem;font-weight: bold;border-bottom: 2px solid #000;margin-bottom: 3.0rem;padding-bottom: 3.0rem;}
.prototype.type01  .jobop_view_top strong{width: 100px;}
.prototype.type01  .jobop_view_top p {width: calc(100% - 100px)}
.prototype.type01  .jobop_view_cont{display: flex;}
.prototype.type01  .jobop_view_cont > div {flex: 1}
.prototype.type01  .jobop_view_cont > div > .red{color:#ff1c31; font-size: 20px;font-weight: bold}
.prototype.type01  .jobop_view_cont > div > ul li{display: flex;margin-top: 2.5rem;}
.prototype.type01  .jobop_view_cont > div > ul li strong{font-size: 1.7rem;font-weight: 500;width: 100px}
.prototype.type01  .jobop_view_cont > div > ul li .text{font-size: 1.7rem;color: #727272;font-weight: 500;width: calc(100% - 100px)}

/*채용공고형 채용절차*/
.prototype.type01  .job_step{margin: 8.0rem 0;display: flex;justify-content:space-between}
.prototype.type01  .job_step .ico{width: 140px;height: 140px;display: block;border-radius: 50%;margin: auto;}
.prototype.type01  .job_step p {color: #fff;font-size: 2.0rem;text-align: center;margin-top: 1.5rem;}
.prototype.type01  .job_step .ico.ico01{background: url(../images/jp_md02_ico01.png) #fff no-repeat center;}
.prototype.type01  .job_step .ico.ico02{background: url(../images/jp_md02_ico02.png) #fff no-repeat center;}
.prototype.type01  .job_step .ico.ico03{background: url(../images/jp_md02_ico03.png) #fff no-repeat center;}
.prototype.type01  .job_step .ico.ico04{background: url(../images/jp_md02_ico04.png) #fff no-repeat center;}
.prototype.type01  .job_step  .arrow{display: block;text-indent: -9999px;background: url(../images/jp_md02_arrow.png) no-repeat center;width: 30px;height: 140px;margin: 0 40px}
.prototype.type01 .module02 .big_btn{position: relative;}


/*채용공고형 모듈02 자소서 문항별 작성가이드*/
.prototype.type01 .module02.style01{}
.prototype.type01 .module02.style01 .navy_bg {background: url(../images/jp_md03_bg.png) no-repeat left bottom;padding:6.0rem}
.prototype.type01 .module02.style01 .self_intro_wrap{background: #fff;padding: 5.0rem 7.0rem;border: 1px solid #ddd;position: relative;box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.08)}
.prototype.type01 .module02.style01 .self_intro_wrap .si_area {margin-bottom: 4.0rem;padding-bottom: 4.0rem;border-bottom: 1px solid #dddddd;}
.prototype.type01 .module02.style01 .self_intro_wrap .si_area:last-child{border-bottom: 0;padding-bottom: 0}
.prototype.type01 .module02.style01 .qnum{font-family: 'GmarketSansMedium';color:#437cff;font-size: 4.0rem; }
.prototype.type01 .module02.style01 .tit {font-size: 2.4rem;font-weight: 400;margin: 10px 0}
.prototype.type01 .module02.style01 .text {font-size: 2.0rem;color: #7d7d7d;}
.prototype.type01 .module02.style01 .recent_question{background: #1a4fba;padding: 4.0rem 1.0rem;border-radius: 15px;position: relative;padding-bottom: 0;;overflow: hidden;display: flex;align-items: flex-end}
.prototype.type01 .module02.style01 .rq_cont{text-align: center;padding-bottom: 4.0rem;width: calc(100% - 200px)}
.prototype.type01 .module02.style01 .rq_tit{color: #fbff95;font-size: 4.0rem;font-family: 'GmarketSansMedium';position: relative;display: flex;align-items: center;margin-bottom: 2.0rem;justify-content: center;}
.prototype.type01 .module02.style01 .rq_tit:after{content: '';display: inline-flex;background: url(../images/jp_md03_si_ico.png) no-repeat center;width: 58px;height: 52px;margin-left: 2.0rem}

.prototype.type01 .module02.style01 .rq_text{color: #fff;}
.prototype.type01 .module02.style01 .rq_text p {font-size: 1.9rem;}
.prototype.type01 .module02.style01 .rq_text p strong{font-size: 3.0rem;}
.prototype.type01 .module02.style01 .rq_img{margin-bottom: -15px}
.prototype.type01 .module02.style01 .rq_img img{width: 100%;}
.prototype.type01 .module02.style01 .add_point{}
.prototype.type01 .module02.style01 .add_point ul{}
.prototype.type01 .module02.style01 .add_point ul li{display: flex;font-size: 24px;margin-bottom: 1.5rem;}
.prototype.type01 .module02.style01 .add_point ul{}
.prototype.type01 .module02.style01 .add_point ul li:last-child{margin-bottom: 0;}
.prototype.type01 .module02.style01 .add_point ul li strong{width: 180px;font-weight: 400;}
.prototype.type01 .module02.style01 .add_point ul li  p {width: calc(100% - 180px);color:#7b7b7b;font-weight: 300;}
.prototype.type01 .module02.style01 .add_point.adImmg .white_box{position: relative;display: flex;align-items: center;}
.prototype.type01 .module02.style01 .add_point.adImmg .white_box:after{content: '';display: block;background: url(../images/jp_md03_img.png) no-repeat;width: 300px;height: 270px;position: absolute;right: 10px;top: -270px;background-size: 292.5px}
.prototype.type01 .module02.style01 .add_point.adImmg .white_box .txt{width: calc(100% - 500px);}
.prototype.type01 .module02.style01 .add_point.adImmg .white_box .radar_chart{width: 450px;}
.prototype.type01 .module02.style01 .radar_chart .bb-chart-radars .bb-shapes polygon{fill-opacity: 0 !important;stroke-width:3}
.prototype.type01 .module02.style01 .radar_chart .bb-chart-radars .bb-axis text{font-family: 'Noto Sans KR';font-size: 1.6rem;fill: #555;}
.prototype.type01 .module02.style01 .radar_chart  svg{overflow: visible !important;}
.prototype.type01 .module02.style01 .radar_chart  .bb-levels polygon {stroke:#dcdcdc;stroke-width:2}
.prototype.type01 .module03.style01 .radar_chart  .bb-axis line{stroke:#fff;}


/*채용공고형 모듈03 채용 꿀팁*/
.prototype.type01 .module02.style01 .blue_bg{background: #9dd7ff}
.prototype.type01 .module02.style01 .ty2{border: 3px solid #437cff;overflow: hidden;}
.prototype.type01 .module02.style01 .ty2:after{content: '';display: block;background: url(../images/jp_md03_bg02.png) no-repeat;position: absolute;right: 0;top: 0;width: 160px;height: 160px}
.prototype.type01 .module02.style01 .ty2:before{content: '';display: block;background: url(../images/jp_md03_img02.png);width: 279px;height: 302px;position: absolute;right: 20px;bottom: 0}
.prototype.type01 .module02.style01 .ty2 .si_area:last-child{width: calc(100% - 350px)}
.prototype.type01 .module02.style01  .btn {margin-top: 3.0rem}

/*채용공고형 모듈04 기업 SWOT 분석*/
.prototype.type01 .module03.style01 {}
.prototype.type01 .module03.style01  .black_bg{background: #292929}
.prototype.type01 .module03.style01 .swot_wrap{display: flex;justify-content: space-around;margin-top: 8.0rem;align-items: center}
.prototype.type01 .module03.style01 .diagram_area{position: relative;} 
.prototype.type01 .module03.style01 .diagram_area:after{content: '';display: block;width: 325px;height: 325px;border: 2px solid #fff;position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%) rotate(45deg);z-index: 0}
.prototype.type01 .module03.style01 .diagram_area ul {display: flex;flex-wrap: wrap;width: 380px;position: relative;z-index: 1}
.prototype.type01 .module03.style01 .diagram_area ul li{width: 180px;height: 180px;position: relative;border-radius: 20px;color: #fff;text-align: center;font-size: 1.7rem;margin-right: 20px;margin-top: 20px}
.prototype.type01 .module03.style01 .diagram_area ul li strong{display: block;font-size: 5.0rem;font-family: 'GmarketSansMedium'}
.prototype.type01 .module03.style01 .diagram_area ul li p {position: absolute;width: 100%;top: 50%;transform: translateY(-50%)}
.prototype.type01 .module03.style01 .diagram_area ul li:nth-child(2n){margin-right: 0}
.prototype.type01 .module03.style01 .diagram_area ul li:nth-child(1){background:#437cff}
.prototype.type01 .module03.style01 .diagram_area ul li:nth-child(2){background:#ff1c31 }
.prototype.type01 .module03.style01 .diagram_area ul li:nth-child(3){background:#2a71b9 }
.prototype.type01 .module03.style01 .diagram_area ul li:nth-child(4){background:#00b9a1 }
.prototype.type01 .module03.style01 .swot_wrap .txt{}
.prototype.type01 .module03.style01 .swot_wrap .txt li{color: #fff;margin-bottom: 3.0rem;font-size: 2.0rem;}
.prototype.type01 .module03.style01 .swot_wrap .txt li:last-child{margin-bottom: 0}
.prototype.type01 .module03.style01 .swot_wrap .txt li strong{font-weight: 500;margin-bottom: 0.5rem;display: block;}
.prototype.type01 .module03.style01 .swot_wrap .txt li:nth-child(1) strong{color: #437cff}
.prototype.type01 .module03.style01 .swot_wrap .txt li:nth-child(2) strong{color: #ff1c31}
.prototype.type01 .module03.style01 .swot_wrap .txt li:nth-child(3) strong{color: #2a71b9}
.prototype.type01 .module03.style01 .swot_wrap .txt li:nth-child(4) strong{color: #00b9a1}


.prototype.type01 .module04.style01 .company_sale_wrap{background: url(../images/jp_md04_bg.png) no-repeat bottom;padding-bottom: 320px}
.prototype.type01 .module04.style01 .company_sale_wrap .top{display: flex;width: 800px;}
.prototype.type01 .module04.style01 .company_sale_wrap .top  div{text-align: center;margin-top: 70px;position: relative;width: 25%}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div > p {font-size: 1.8rem;margin-bottom: 2.0rem;font-weight: 500}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div > .cicle{background: #437cff;width: 140px;height: 140px;border-radius: 50%;position: relative;margin: auto;}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div > .cicle p {color: #fff;font-size: 2.0rem;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);text-align: center;width: 100%;}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div > .cicle p strong{font-size: 3.4rem;color: #fbff95;}

.prototype.type01 .module04.style01 .company_sale_wrap .top > div:nth-child(2n){margin-top: 0}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div:after{content: '';display: block;background: url(../images/jp_md04_line01.png) no-repeat;position: absolute;width: 42px;height: 48px;right: -20px;top: 35%}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div:last-child:after{display: none}
.prototype.type01 .module04.style01 .company_sale_wrap .top > div:nth-child(2):after{background: url(../images/jp_md04_line02.png) no-repeat;top: 45%;right: -30px}
.prototype.type01 .module04.style01 .company_sale_wrap .white_box_sdw:nth-child(2):after{content: '';display: block; background: url(../images/jp_md04_img01.png);width: 375px;height: 329px;position: absolute;right: 0;top: -329px}
.prototype.type01 .module04.style01 .company_sale_wrap .chart_wrap{display: flex;justify-content: space-between}
.prototype.type01 .module04.style01 .company_sale_wrap .chart_wrap > div{width: calc(50% - 40px);}
.prototype.type01 .module04.style01 .company_sale_wrap .white_box_sdw h3 {font-size: 2.4rem;font-weight: 400;margin-bottom: 2.0rem;}
.prototype.type01 .module04.style01 .company_sale_wrap .chart_wrap h3{}
.prototype.type01 .domain{stroke:none}
.prototype.type01 .module04.style01 .company_sale_wrap {}

.prototype .bb-axis.bb-axis-x {font-family: 'Noto Sans KR';font-size: 16px;fill:#555}
.prototype .bb-axis.bb-axis-x line{stroke:none}
.prototype .bb-axis.bb-axis-y line{stroke:none}
.prototype .bb-grid line{stroke-dasharray: 0;stroke:#ddd !important}
.prototype .bb-axis.bb-axis-y {font-size: 14px;font-family: 'Noto Sans KR';fill:#555}
.prototype.type01 .module04.style01 .barChart01 .bb-shape:last-child {fill: #ff2e69 !important}

.prototype .area_graph{margin-top: 24px;}
.prototype .area_graph .graph_info{position: relative;box-sizing: border-box}
.prototype .area_graph .graph_info .grid_range{position: absolute;right: 0;bottom: -1px;left: 0;z-index: 0}
.prototype .area_graph .graph_info .grid_range .range {display: block;position: relative;height: 35px;border-bottom: 1px solid #ddd;box-sizing: border-box;text-align: right;}
.prototype .area_graph  .graph_range{display: flex}
.prototype .area_graph .wrap_graph{width: 25%;height: 245px;padding-bottom: 140px;position: relative;}
.prototype .area_graph  .graph_range .tit_graph{position: absolute;bottom: -30px;left: 50%;transform: translateX(-50%); text-align: center;font-style: normal;}
.prototype .area_graph  .graph_range .graph{position: relative;margin: 0 auto;width: 36px;height: 100%;}
.prototype .area_graph  .graph_range .graph .inner_graph{background: #cbcbcb;width: 100%;position: absolute;bottom: 0;left: 0;}
.prototype .area_graph  .graph_range .graph .txt_value{position: absolute;top: -25px;left: 50%;width:110px;font-size: 1.4rem;text-align: center;transform: translate(-50%, 0);font-style: normal;color: #555}
.prototype .area_graph  .grid_range .range span{display: block;position: absolute;top: 23px;left: -15px;color: #cdcdcd}
.prototype .area_graph  .graph_range  .wrap_graph.minus{padding-top: 105px;padding-bottom: 0}
.prototype .area_graph  .graph_range  .wrap_graph.minus .inner_graph{top: 0}

.prototype.type01 .module04.style01 .area_graph .wrap_graph:last-child .inner_graph{background: #ff2e69}
.prototype.type01 .module04.style01 .area_graph .wrap_graph:last-child .inner_graph .txt_value{color: #000;font-weight: bold}
.prototype.type01 .module04.style01 .chart_cont{border-top: 2px solid #000;padding-top: 2.0rem}
.prototype.type01 .chart_cont{display: flex;justify-content: space-between;text-align: center}
.prototype.type01 .chart_cont li{position: relative;width: 33%;}
.prototype.type01 .chart_cont li:after{content: '';display: block;width: 1px;height: 72px;background:#ddd;position: absolute;right: 0;top: 50%;transform: translateY(-50%)}
.prototype.type01 .chart_cont li:last-child:after{display: none}
.prototype.type01 .chart_cont li em{font-style: normal;font-size: 1.7rem;color: #727272;display: block;margin-bottom: 1.5rem;}
.prototype.type01 .chart_cont li p{font-size: 2.0rem}
.prototype.type01 .chart_cont li strong{font-size: 3.0rem;}
.prototype.type01 .chart_cont li span{font-size: 1.6rem}
.prototype.type01 .chart_cont li .up{color: #e60012}
.prototype.type01 .chart_cont li .down{color: #437cff}

/*동종업종 내 위치*/
.prototype.type01  .module04 .local_rank_wrap{display: flex;justify-content: space-between}
.prototype.type01  .module04 .local_rank_wrap > div {width: calc(50% - 15px)}
.prototype.type01  .table_style01 {width: 100%;border-collapse: collapse;table-layout: fixed;border-top: 1px solid #000}
.prototype.type01  .table_style01  th{background: #f5f5f5;border-right: 1px solid #ddd;font-weight: 500;}
.prototype.type01  .table_style01  th:last-child{border-right: 0}
.prototype.type01  .table_style01 th,
.prototype.type01  .table_style01 td{padding: 10px;font-size: 1.7rem;}
.prototype.type01  .table_style01 tbody td{border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;text-align: center;font-weight: 300;color: #727272}
.prototype.type01  .table_style01 tbody td:last-child{border-right: 0}

.prototype.type01  .module04 .local_rank_wrap table  .this_company{}
.prototype.type01  .module04 .local_rank_wrap table  .this_company td{padding:  0}
.prototype.type01  .module04 .local_rank_wrap table  .this_company ul{display: flex;width: calc(100% + 50px);margin-left: -25px;padding: 10px}
.prototype.type01  .module04 .local_rank_wrap table  .this_company ul li{width: 33%;font-size: 2.4rem;}
.prototype.type01  .module04.style01  .local_rank_wrap table  .this_company ul {border: 3px solid #ff1c31;color: #000;font-weight: bold;}

.prototype.type01  .module04.style01 .local_rank_wrap .left{display: flex;align-items: flex-start}
.prototype.type01  .module04.style01 .local_rank_wrap .lank_img{width: calc(100% - 200px);margin-right: 2.0rem;}
.prototype.type01  .module04.style01 .local_rank_wrap .lank_img > div{width: 114px;height: 114px;border-radius: 50%;background: #f6d545;position: relative;margin: 1.5rem auto}
.prototype.type01  .module04.style01 .local_rank_wrap .lank_img > div p{font-size: 2.0rem;font-weight: bold;line-height: 1;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
.prototype.type01  .module04.style01 .local_rank_wrap .lank_img > div p strong{font-size: 4.2rem}

/*프로토타입 모듈5*/
.prototype.type01  .module05 .welfare .tit {font-size: 2.0rem;font-weight: bold}
.prototype.type01  .module05 .welfare ul {}
.prototype.type01  .module05 .welfare ul li{font-size: 1.7rem;color: #727272;position: relative;padding-left: 10px;margin-bottom: 5px}
.prototype.type01  .module05 .welfare ul li:last-child{margin-bottom: 0}
.prototype.type01  .module05 .welfare ul li:before{content: '-';position: absolute;left: 0;top: 1px;}


.prototype.type01  .module05.style01 .welfare{display: flex;justify-content: space-between;margin: 4.0rem 0}
.prototype.type01  .module05.style01 .welfare > div {display: flex;}
.prototype.type01  .module05.style01 .welfare .cont{margin-left: 3.0rem;margin-top: 1.5rem}
.prototype.type01  .module05.style01 .welfare .cont p{margin-bottom: 1.5rem}
.prototype.type01  .module05.style01 .welfare .ico{width: 180px;height: 180px;border-radius: 50%;}
.prototype.type01  .module05.style01 .welfare .ico.ico01{background: url(../images/jp_md05_ico01.png) no-repeat center #1648b9}
.prototype.type01  .module05.style01 .welfare .ico.ico02{background: url(../images/jp_md05_ico02.png) no-repeat center #1648b9}
.prototype.type01  .module05.style01 .welfare .ico.ico03{background: url(../images/jp_md05_ico03.png) no-repeat center #1648b9}

/*회사 전경*/
.prototype.type01 .company_gallery{display: flex;flex-wrap: wrap;}
.prototype.type01 .module05.style01 .company_gallery{}
.prototype.type01 .module05.style01 .company_gallery div{width: calc(33% - 10px);margin-right: 15px;border:1px solid #ddd;box-shadow:2px 2px 5px rgba(0, 0, 0, 0.05);height: 250px;margin-top: 15px}
.prototype.type01 .module05.style01 .company_gallery div:nth-child(3n){margin-right: 0}

/*현직자 복지 사용후기 */
.prototype.type01 .module05.style01{}
.prototype.type01 .module05.style01 .welfare_review_wrap{background: #fff3c3}
.prototype.type01 .welfare_review{display: flex;}
.prototype.type01 .module05 .welfare_review .top p{margin-bottom: 1.5rem;}
.prototype.type01 .module05 .welfare_review .cont {margin-left:3.0rem;}

.prototype.type01 .module05.style01 .welfare_review .img {width: 150px;height: 150px;border: 1px solid #ddd;border-radius: 10px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)}
.prototype.type01 .module05.style01 .welfare_review .cont {width: calc(100% - 180px)}
.prototype.type01 .module05.style01 .welfare_review .top p{font-size: 2.2rem;font-weight: bold;word-break: keep-all}
.prototype.type01 .module05.style01 .welfare_review .bottom p{font-size: 1.7rem;color: #727272}

/*연봉정보*/
.prototype.type01 .module05 .salary{display: flex;justify-content: space-between;}
.prototype.type01 .module05 .salary > div{width: calc(50% - 50px)}
.prototype.type01 .module05 .salary .barChart02 .active{fill:#ff2e69 !important}

.prototype.type01 .module05 .salary .select_list{display: flex;}
.prototype.type01 .module05 .salary .select_list li{margin-right: 1.0rem}
.prototype.type01 .module05 .salary .select_list li:last-child{margin-right: 0}
.prototype.type01 .module05 .salary  .salary_cont{display: flex;margin-top: 5.0rem}
.prototype.type01 .module05 .salary  .salary_cont .txt{font-size: 1.7rem;}
.prototype.type01 .module05 .salary  .salary_cont strong{font-size: 3.0rem}

.prototype.type01 .module05.style01 .salary  .salary_cont div{border-right: 1px solid #ddd;padding-right: 4.0rem;margin-right: 4.0rem;text-align: center}
.prototype.type01 .module05.style01 .salary  .salary_cont div:last-child{border-right: 0}
.prototype.type01 .module05.style01 .salary  .salary_cont div:first-child .txt{margin-bottom: 1.0rem}
.prototype.type01 .module05.style01 .salary  .salary_cont .txt{color: #727272;font-weight: 400}
.prototype.type01 .module05.style01 .salary  .salary_cont div:last-child strong{color: #ff2e69}


.prototype .slider01{position: relative;}
.prototype .slider01 .slick-arrow{display: block;position: absolute;width: 30px;height: 55px;text-indent: -9999px;top: 50%;transform: translateY(-50%);opacity: 0.5}
.prototype.type01  .module06.style01  {}
.prototype.type01  .module06.style01  .slider01{text-align: center;margin: 4.0rem 0}
.prototype.type01  .module06.style01  .slider01 img {margin: auto;}
.prototype .slider01 .slick-prev{background: url(../images/slider01_prev.png) no-repeat;left: 0;} 
.prototype .slider01 .slick-next{background: url(../images/slider01_next.png) no-repeat;right: 0;} 
.prototype.type01 .module06 .video_wrap{position: relative;padding-bottom: 56.25%;padding-top: 25px;height: 0;}
.prototype.type01 .module06 .video_wrap iframe {position: absolute;top: 0;
left: 0;width: 100%;height: 100%;}

.prototype.type01 .module06.style01 .video_wrap {border: 2px solid #437cff;border-radius: 15px;overflow: hidden}


/*ceo 인터뷰*/
.prototype.type01  .module07.style01 .ctain{position: relative}
.prototype.type01 .ceo_interview {}
.prototype.type01  .module07.style01 .ceo_interview h2 {font-size: 4.0rem;color: #112a73;margin-bottom: 3.0rem}
.prototype.type01  .module07.style01 .ceo_interview h2 .orange{color: #ff711c}
.prototype.type01  .module07.style01 .ceo_interview h2 .cyon{color: #04aab0}
.prototype.type01  .module07.style01 .ceo_interview p{font-size: 2.3rem;line-height: 1.8}
.prototype.type01  .module07.style01 .ceo_interview .text p{width: calc(100% - 400px)}
.prototype.type01  .module07.style01 .ceo_interview .img {position: absolute;right: 0;bottom: 0;z-index: -1}
.prototype.type01  .module07.style01 .ceo_interview .img  img{display: block;}

/* 채용 담당자 인터뷰 + 신입사원 인터뷰 */
.prototype.type01 .module07.style01 .recruiter_interview_wrap{background: #0c2c76;padding: 6.0rem 0}
.prototype.type01 .module07.style01 .recruiter_interview_wrap .tit01{color: #fff;}
.prototype.type01 .module07.style01 .recruiter_interview,
.prototype.type01 .module07.style01 .recruiter_interview{display: flex;}
.prototype.type01 .module07.style01 .recruiter_interview div,
.prototype.type01 .module07.style01 .recruiter_interview div{background: #fff;padding: 5.0rem;width: calc(33.333% - 26.666px);margin-right: 40px;}
.prototype.type01 .module07.style01 .recruiter_interview div:last-child,
.prototype.type01 .module07.style01 .recruiter_interview div:last-child{margin-right: 0}
.prototype.type01 .module07.style01 .recruiter_interview .qnum,
.prototype.type01 .module07.style01 .recruiter_interview .qnum{font-family: 'GmarketSansMedium';color:#437cff;font-size: 4.0rem;display: block;margin-bottom: 5px}
.prototype.type01 .module07.style01 .recruiter_interview p,
.prototype.type01 .module07.style01 .recruiter_interview p{font-size:2.2rem;word-break: keep-all}
.prototype.type01 .module07.style01 .recruiter_interview .in_img,
.prototype.type01 .module07.style01 .recruiter_interview .in_img{position: relative;padding-bottom: 200px;}
.prototype.type01 .module07.style01 .recruiter_interview .in_img img{display: block;position: absolute;bottom: 0;left: 5.0rem}

/* 신입사원 인터뷰*/
.prototype.type01 .module07.style01 .recruiter_interview_wrap02  {background: #292929;}
.prototype.type01 .module07.style01 .recruiter_interview_wrap02 .qnum{color: #ff7521 !important;}
.prototype.type01 .module07.style01 .recruiter_interview_wrap02 .in_img img{position: absolute;right: 5.0rem;bottom: 0;display: block;}


/* 전현직자 리뷰 */
.prototype.type01 .module07.style01 .former_review_wrap{background: url(../images/jp_md10_bg.png) no-repeat center;padding: 6.0rem 0}
.prototype.type01 .module07.style01 .former_review > div{display: flex;margin-bottom: 3.0rem}
.prototype.type01 .module07.style01 .former_review > div:last-child{margin-bottom: 0}
.prototype.type01 .module07.style01 .former_review .img{width: 150px;height: 150px;margin-right: 30px;border-radius: 10px;overflow: hidden}
.prototype.type01 .module07.style01 .former_review .txt{width: calc(100% - 180px)}
.prototype.type01 .module07.style01 .former_review ul {display: flex;margin-bottom: 1.5rem}
.prototype.type01 .module07.style01 .former_review ul li{font-size: 2.0rem;color: #7b7b7b;position: relative;align-items: center;}
.prototype.type01 .module07.style01 .former_review ul li:after{content: '|';margin: 0 20px;font-size: 1.7rem;display: inline-block;vertical-align: top}
.prototype.type01 .module07.style01 .former_review ul li:last-child:after{display: none}
.prototype.type01 .module07.style01 .former_review .highlight{color: #ff1c31}


/* 기업 뉴스 */
.prototype.type01 .news > a{display: flex;border-bottom: 1px solid #ddd;padding-bottom: 3.0rem;margin-bottom: 3.0rem;}
.prototype.type01 .news > a:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom: 0}
.prototype.type01 .news > a:hover .txt,
.prototype.type01 .news > a:active .txt,
.prototype.type01 .news > a:focus .txt{text-decoration: underline}
.prototype.type01 .news .img{border-radius: 10px;overflow: hidden;width: 420px;height: 220px; margin-right: 30px;}
.prototype.type01 .news  .cont{width: calc(100% - 430px);display: flex;flex-direction: column}
.prototype.type01 .news  .cont .tit{font-size: 2.4rem;font-weight: 500;margin-bottom: 1.5rem;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.prototype.type01 .news  .cont .txt{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.6em; height: 4.8em;font-size: 1.8rem;color: #6f6f6f}
.prototype.type01  .news  .cont  .date{margin-top: auto;color: #6f6f6f;font-size: 1.8rem;}

/* 페이징*/
.prototype .paging{display: flex;justify-content: center;margin-top: 5.0rem;align-items: center;}
.prototype.type01 .paging li {margin:0 1.5rem }
.prototype.type01 .paging li a{font-size: 1.8rem;color:#666666; padding: 5px 3px;display: block;font-weight: 400}
.prototype.type01 .paging li.active {position: relative;}
.prototype.type01 .paging li.active a {color: #ff1c31;border-bottom: 3px solid red;box-sizing: border-box;font-weight: 500}
.prototype.type01 .paging .btn_page a{text-indent: -9999px;}
.prototype.type01 .paging .first{background: url(../images/jp_paging_first.png) no-repeat center;width: 17px;}
.prototype.type01 .paging .prev{background: url(../images/jp_paging_prev.png) no-repeat center;width: 17px;}
.prototype.type01 .paging .next{background: url(../images/jp_paging_next.png) no-repeat center;width: 17px;}
.prototype.type01 .paging .last{background: url(../images/jp_paging_last.png) no-repeat center;width: 17px;}
.prototype.type01 .paging li:not(.btn_page) a:hover,
.prototype.type01 .paging li:not(.btn_page) a:active, 
.prototype.type01 .paging li:not(.btn_page) a:focus  {color: #ff1c31;font-weight: 500;}

/* 소재지 */
.prototype.type01 .map_wrap .location{display: flex;justify-content: center;align-items: center;margin-bottom: 4.0rem}
.prototype.type01 .map_wrap .location strong{font-size: 3.4rem;margin-right: 3.0rem}
.prototype.type01 .map_wrap .location p {font-size: 2.8rem;font-weight: 500}

/*---------- 프로토타입 : 2_브로슈어형 start---------------*/
.prototype.type02{}
.prototype.type02 .module01.style01{background: url(../images/brochure_mb01_bg.png) no-repeat;padding-bottom: 10.0rem;}
.prototype.type02 .module01.style01 h2{font-size: 3.5rem;}
.prototype.type02 .module01.style01 h2:after {content: '';width: 32px;height: 3px;background: #da0011;display: block;margin: 2.5rem 0}
.prototype.type02 .module01.style01 h2 span{color: #da0011}
.prototype.type02 .module01.style01 .content{margin-top: 5.0rem;position: relative;}
.prototype.type02 .module01.style01 .content:after{content: '';display: block;clear: both}
.prototype.type02 .module01.style01 .content > div {width: calc(50% + 45px);min-height: 420px;}
.prototype.type02 .module01.style01 .content .left{float: left;background: #2a71b9;color:#fff;padding: 5.0rem;position: relative;z-index: 1}
.prototype.type02 .module01.style01 .content .left .txt{padding-right: 80px;word-break: keep-all}
.prototype.type02 .module01.style01 .content .left h4{font-size: 2.4rem;font-weight: 500;margin-bottom: 1.0rem}
.prototype.type02 .module01.style01 .content .left h4:before{content: '';display: block;width: 15px;height: 1px;background: #fff;margin-bottom: 2.0rem}
.prototype.type02 .module01.style01 .content .left .btn{display: inline-block;margin-top: 5.0rem;border: 2px solid #fff;padding: 1.5rem 4.0rem;font-size: 1.6rem;}
.prototype.type02 .module01.style01 .content .left .btn:hover,
.prototype.type02 .module01.style01 .content .left .btn:active,
.prototype.type02 .module01.style01 .content .left .btn:focus{background: #fff;color: #333;transition: all 0.3s}
.prototype.type02 .module01.style01 .content .right {position: absolute;right: 0;top: -50px; z-index: 5;}
.prototype.type02 .module01.style01 .content .right .img {background-attachment:fixed}

/*프로토타입 : 2_브로슈어형 연혁*/
.prototype.type02 .module02{}
.prototype.type02 .module02 .timeline{position: relative;}
.prototype.type02 .module02 .item_det1:before {content: '';display: block;background: url(../images/brochure_mb01_history.png) ;width: 4px;height: 100%;position: absolute;left: 50%;top: 60px;transform: translateX(-50%)}
.prototype.type02 .module02 .item_det1:last-child:before{display: none}
.prototype.type02 .module02 .timeline .item_det1{margin-bottom: 20px;position: relative;min-height: 130px;padding-bottom: 50px}
.prototype.type02 .module02 .timeline .item_det1:after{content: '';display: block;width: 40px;height: 40px;border-radius: 50%;background: #fff3eb;border: 10px solid #da0011;box-sizing: border-box;position: absolute;;left: 50%;top: 0;transform: translateX(-50%);z-index: 5}
.prototype.type02 .module02 .date{font-size: 2.8rem;font-weight: bold;}
.prototype.type02 .module02 .timeline .item_det1{display: flex;}
.prototype.type02 .module02 .timeline .item_det1:nth-child(odd){text-align: left;}
.prototype.type02 .module02 .timeline .item_det1:nth-child(even){text-align: right;}
.prototype.type02 .module02 .timeline .item_det1:nth-child(even) .item_det2 li{flex-direction: row-reverse}
.prototype.type02 .module02 .timeline .item_det1:nth-child(odd)  > li.item_det2{width: calc(50% - 70px);margin-left: auto}
.prototype.type02 .module02 .timeline .item_det1:nth-child(even)  > li.item_det2{width: calc(50% - 70px);margin-right: auto;}
.prototype.type02 .module02 .timeline .item_det1:nth-child(odd) .date{position: absolute;top: 0;left: calc(50% - 140px)}
.prototype.type02 .module02 .timeline .item_det1:nth-child(even) .date{margin-right: auto;width: 100px;position: absolute;top: 0; right: calc(50% - 140px)}
.prototype.type02 .module02 .timeline .item_det2 ul  li{display: flex;align-items: center;margin-top: 10px;}
.prototype.type02 .module02 .timeline .item_det2 strong{color: #da0011;font-size: 14px;width: 30px;align-items: center;}


/* 프로토타입 : 2_브로슈어형 회사규모 공통 */
.prototype.type02 .module03 {}
.prototype.type02 .module03 .scale_info{}
.prototype.type02 .module03 .scale_info .top{display: flex;justify-content: center;}
.prototype.type02 .module03 .scale_info .bottom{display: flex;}

/* 프로토타입 : 2_브로슈어형 회사규모 스타일01 */
.prototype.type02 .module03.style01{background: url(../images/brochure_mb01_bg.png) no-repeat}
.prototype.type02 .module03.style01 .scale_info{}
.prototype.type02 .module03.style01 .scale_info .top{text-align: center;}
.prototype.type02 .module03.style01 .scale_info .top{}
.prototype.type02 .module03.style01 .scale_info .top p{font-size: 9.0rem;font-weight: bold;color: #011541;}
.prototype.type02 .module03.style01 .scale_info .top h3{display: flex;justify-content: center;align-items: center;margin-top: 1.0rem;color: rgba(1, 21, 65, 0.6);font-size: 1.8rem;font-weight: 500}
.prototype.type02 .module03.style01 .scale_info .top h3 span{margin-right: 1.0rem}
.prototype.type02 .module03.style01 .scale_info .top h3 .ico01{background: url(../images/brochure_mb03_ico01.png) no-repeat;width: 33px;height: 25px;}
.prototype.type02 .module03.style01 .scale_info .top h3 .ico02{background: url(../images/brochure_mb03_ico02.png) no-repeat;width: 21px;height: 30px;}
.prototype.type02 .module03.style01 .scale_info .top > div{padding-right: 9.0rem;margin-right: 9.0rem;position: relative;}
.prototype.type02 .module03.style01 .scale_info .top > div:after{content: '';display: block;width: 1px;height: 120px;background: rgba(0, 0, 0, 0.28);position: absolute;right: 0;top: 50%;transform: translateY(-50%)}
.prototype.type02 .module03.style01 .scale_info .top > div:last-child{padding-right: 0;margin-right: 0;}
.prototype.type02 .module03.style01 .scale_info .top > div:last-child:after{display: none}
.prototype.type02 .module03.style01 .scale_info .bottom{justify-content: space-between;margin-top: 5.0rem}
.prototype.type02 .module03.style01 .scale_info .bottom > div{width: 190px;height: 190px;border-radius: 50%;text-align: center;position: relative;border: 1px solid #243d67;margin-right: 75px;}
.prototype.type02 .module03.style01 .scale_info .bottom > div:after{content: '';display: block;width: calc(100% - 20px);height: 1px;background: #243d67;position: absolute;right: calc(-100% + 20px);top: 50%;transform: translateY(-50%)}
.prototype.type02 .module03.style01 .scale_info .bottom > div:last-child:after{display: none}
.prototype.type02 .module03.style01 .scale_info .bottom > div:last-child{margin-right: 0;}
.prototype.type02 .module03.style01 .scale_info .bottom > div:after{content: '';display: block;height: 1px}
.prototype.type02 .module03.style01 .scale_info .bottom > div .inner{position: absolute;width: 100%;top: 50%;transform: translateY(-50%);}
.prototype.type02 .module03.style01 .scale_info .bottom > div p{color: #243d67;font-size: 1.6rem;}
.prototype.type02 .module03.style01 .scale_info .bottom > div p:last-child{margin-top: 1.5rem}
.prototype.type02 .module03.style01 .scale_info .bottom > div p strong{font-size:4.0rem}